.recipe-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.recipe-box img {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
}

.space{
    margin:50px;
}

.spaceAdditional{
    margin-right:170px;
}

.welcome-container {
    position: relative;
    height: 280px; /* Adjust height as needed */
    background-image: url('/images/recipe_banner.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Text color */
}

.welcome-content {
    background-color: rgba(255, 192, 203, 0.2); /* Semi-transparent pink overlay */
    color: rgb(78, 76, 76);
    padding: 60px;
    border-radius: 10px;
}

.divSpace{
    display:flex;
}

.wrap-button {
    display: flex;
    justify-content:center;
    gap: 10px; /* Optional: Adds space between buttons */
}
