.fakeimg {
    height: 200px;
    background: #aaa;
}

.recipe-box {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.recipe-box img {
    max-width: 100%;
    height: auto;
}

.space{
    margin:50px;
}

.spaceAdditional{
    margin-right:170px;
}



.welcome-container {
    position: relative;
    height: 250px; /* Adjust height as needed */
    background-image: url('/images/recipe_banner.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Text color */
}

.welcome-content {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    padding: 20px;
    border-radius: 10px;
}

.divSpace{
    display:flex;
    
}
